name: Radio Recorder Parallel

on:
  schedule:
    - cron: '55 * * * *' # מתעורר ב-55 כדי להיות מוכן ב-00
  workflow_dispatch:

jobs:
  record:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: |
          sudo apt-get install -y ffmpeg
          pip install requests
      
      - name: Run Script
        run: python main.py

      - name: Set Israel Time for Release Name
        # יצירת משתנה שנוכל להשתמש בו בשם של ה-Release
        run: echo "REL_DATE=$(date -d '+2 hours' +'%Y-%m-%d %H:00')" >> $GITHUB_ENV

      - name: Upload Release
        uses: softprops/action-gh-release@v1
        if: hashFiles('*.mp3') != ''
        with:
          # שם ה-Release יהיה למשל: "הקלטה שעה 18:00 - 2024-05-20"
          tag_name: rec-${{ github.run_id }}
          name: הקלטה שעה ${{ env.REL_DATE }}
          files: "*.mp3"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
