name: Radio Recorder Parallel

on:
  schedule:
    - cron: '0 * * * *'  # בשעה עגולה
    - cron: '5 * * * *'  # גיבוי ב-5 דקות אחרי למקרה ש-GitHub איחר
  workflow_dispatch:

concurrency:
  group: radio-recording
  cancel-in-progress: true # אם השעה החדשה הגיעה, סוגרים את הישנה מיד

jobs:
  record:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: |
          sudo apt-get install -y ffmpeg
          pip install requests
      - run: python main.py
      - name: Release
        uses: softprops/action-gh-release@v1
        if: hashFiles('*.mp3') != ''
        with:
          tag_name: tag-${{ github.run_id }}-${{ github.run_number }}
          name: הקלטה שעה עגולה - ${{ github.run_number }}
          files: "*.mp3"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
